<%- include("../partials/_adminheader") -%>

    <div class="container">
        <h2 class="mt-5 mb-3">User Information</h2>
        <table class="table mb-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Phonenumber</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                    <th class="d-print-none">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (const task of dataall) { %>
                    <tr>
                        <td>
                            <%= task.User_ID %>
                        </td>
                        <td>
                            <%= task.Email %>
                        </td>
                        <td>
                            <%= task.Password %>
                        </td>
                        <td>
                            <%= task.Phonenumber %>
                        </td>
                        <td>
                            <%= task.Address %>
                        </td>
                        <% if (task.Status_ID==1) { %>
                            <td>Admin</td>
                            <% }else { %>
                                <td>User</td>
                                <% } %>
                                    <td class="d-print-none">
                                        <a href="/edituser/<%= task.User_ID %>"
                                            class="btn btn-sm btn-warning">Update</a>
                                        <form action="/delete/<%= task.User_ID %>" method="post">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <%- include("../partials/_footer") -%>