<%- include("../partials/_adminheader") -%>
    <div class="container">
        <form action="/edituser/<%= result.User_ID %>" method="post">
            <div class="row justify-content-center mt-3 ">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="">Email :</label>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <input type="email" name="Email" class="form-control" value="<%= result.Email%>" id="">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="">Password :</label>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <input type="password" name="Password" class="form-control" value="<%= result.Password%>" id="">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="">Phoenumber :</label>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <input type="text" name="Phonenumber" class="form-control" value="<%= result.Phonenumber%>" id="">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <label for="">Address :</label>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-md-6 col-lg-6">
                    <input type="text" name="Address" class="form-control" value="<%= result.Address%>" id="">
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-6 col-md-4 col-lg-4">
                    <input type="submit" value="Update" class="form-control btn btn-success"/>
                </div>
            </div>
        </form>
    </div>
    <%- include("../partials/_footer") -%>